*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle distributions (wrapper/dists)
wrapper/dists/

# Kotlin profiling
kotlin-profile/

# Release artifacts
app/release/
app/build/
