*.iml
/.gradle/
/.kotlin/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle distributions (wrapper/dists)
wrapper/dists/

# Kotlin profiling
kotlin-profile/

# Release artifacts
app/release/
app/build/
